@use 'variables' as *;
@use 'sass:map';
@mixin flex-layout($justify: center, $align: center, $direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap + px;
}

@mixin grid-cols($cols) {
  grid-template-columns: repeat($cols, minmax(0, 1fr));
}

@mixin column-span($start: 2, $col: 1) {
  grid-column: $start / span $col;
}
@mixin column-span-($col) {
  grid-column: span $col / span $col;
}
@mixin responsive($key) {
  @media (min-width: map.get($breakpoints, $key)) {
    @content;
  }
}
@mixin responsive-max($key) {
  @media not all and (min-width: map.get($breakpoints, $key)) {
    @content;
  }
}
