@use 'variables' as *;
@use 'minxins' as *;
@use 'flexbox' as *;
@use 'grid' as *;
@use 'responsive' as *;
%box-style {
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: auto;
}
.flex-center {
  @include flex-layout;
}
.flex-column {
  width: 100%;
  @include flex-layout(center, center, column, 4);
}
.flex-end {
  @include flex-layout(end, center);
}

.side-bar {
  @include column-span(1, 2);
  @media screen and (max-width: 1280px) {
    @include column-span(1, 12);
  }
}
.main-content {
  @include column-span(3, 10);
  @media screen and (max-width: 1280px) {
    @include column-span(1, 12);
  }
}

@for $i from 1 through 10 {
  .text-size-#{$i} {
    font-size: $i + rem;
  }
}
.grid-item-12 {
  @include column-span(1, 12);
}
.grid-item-m-6 {
  @include column-span(1, 6);
}
.grid-item-7-end {
  @include column-span(7, 6);
}
.grid-item {
  @extend %box-style;
}
.bg-primary {
  background-color: $primary-color;
}

.cursor-pointer:hover {
  cursor: pointer;
}
.text-decoration-none {
  text-decoration: none;
  color: gray;
}
.h-screen {
  height: 100lh;
  @media screen and (max-width: 1280px) {
    height: 100%;
  }
}
.flex-response {
  flex-wrap: wrap;

  @media screen and (max-width: 1280px) {
    @include flex-layout(center, center, column);
  }
}

.bg-danger-customize {
  background-color: $danger-color;
}
.size-4 {
  width: 80px;
  height: 80px;
}
@for $i from 0 through 10 {
  .flex-gap-#{$i} {
    gap: $i + px;
  }
}

.w-200 {
  width: 200px !important;
}
.max-md-cod {
  @media screen and (max-width: 768px) {
    background-color: red;
  }
}
.min-h-full {
  min-height: 100%;
}

.w-full {
  width: 100%;
}
.h-full {
  width: 100%;
}
