@use 'variables' as *;
@use 'minxins' as *;
// html {
//   font-size: 62.5%;
// }
%box-style {
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: auto;
}
.flex-center {
  @include flex-layout;
}
.flex-column {
  width: 100%;
  @include flex-layout(center, center, column, 4);
}
.flex-end {
  @include flex-layout(end, center);
}
.grid-container {
  @include grid-container(12, 0);
}
.side-bar {
  @include column-span(1, 2);
  @media screen and (max-width: 1280px) {
    @include column-span(1, 12);
  }
}
.main-content {
  @include column-span(3, 10);
  @media screen and (max-width: 1280px) {
    @include column-span(1, 12);
  }
}
.grid-col-4 {
  @include grid-container(4, 0px 8px);
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.grid-col-2 {
  @include grid-container(2, 8px);
  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: auto;
  }
}
@for $i from 1 through 10 {
  .text-size-#{$i} {
    font-size: $i + rem;
  }
}
.grid-item-12 {
  @include column-span(1, 12);
}
.grid-item-m-6 {
  @include column-span(1, 6);
}
.grid-item-7-end {
  @include column-span(7, 6);
}
r .grid-item {
  @extend %box-style;
}
.bg-primary {
  background-color: $primary-color;
}
.w-full {
  width: 100%;
}
.h-full {
  width: 100%;
}
.cursor-pointer:hover {
  cursor: pointer;
}
.text-decoration-none {
  text-decoration: none;
  color: gray;
}
.h-screen {
  height: 100lh;
}
.bg-danger-customize {
  background-color: $danger-color;
}
.size-4 {
  width: 80px;
  height: 80px;
}
@for $i from 0 through 10 {
  .flex-gap-#{$i} {
    gap: $i + px;
  }
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.w-200 {
  width: 200px;
}
